@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   color: var(--text-color);
   font-family: "Poppins", sans-serif;
   text-decoration: none;
}

:root {
   --main-color: #0c0f13;
   --secondly-color: #1b1b1b;
   --text-color: #fff;
   --bg-color: #204ba7;
}
body {
   background-color: var(--main-color);
}
section {
   padding: 10px 10%;
}


.toggle-menu{
      display: none
      }
 
header {
      padding: 0 5%;
      .container {
         padding: 20px 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         .logo {
            display: flex;
            gap: 10px;
            img {
               width: 50px;
            }
            h3 {
               opacity: 0.9;
            }
         }
         .nav-container {
            gap: 20px;
            nav {
              
               opacity: 0.8;
               display: flex;
               gap: 20px;
               .Active {
                  opacity: 100%;
                  color: var(--bg-color);
               }
               a {
                  font-weight: 500;
                  transition: all 0.6s;
               }
               a:hover {
                  transform: scale(1.07) translateY(-3px);
                  color: var(--bg-color);
               
                 }
            }
            .btn-container {
               a {
                  padding: 10px 20px;
                  background-color: var(--bg-color);
                  border-radius: 4px;
               }
            }
         }
         
      }
     
   }

 
 @media(min-width:767px){
   .nav-container{
     display: flex !important;
   }
 }
 
 
 @media(max-width:450px){
   .nav-container{    
     left: 50% !important;
 }
 }